.current {
  color: #D401BC;
}

body {
    background-image:url('../images/tumblr_inline_mlkwolhobQ1r53miq.png');
    color: red;
    text-align: center;
}

/* below is my attempt to get a single-column against the background. i think i should improve upon this */

/*  div {
  width: 40%;
  margin: auto;
  background-image:url('../images/sunbg.gif');
} */

nav {
  background-color: #ece63d;
}

h1 {
    font-family: "Brush Script MT", cursive;
}

a:hover {
  color: green;
}
