.current {
  color: #D401BC;
}

body {
    background-image:url('../images/tumblr_inline_mlkwolhobQ1r53miq.png');
    color: red;
    text-align: center;
}

h1 {
    font-family: "Brush Script MT", cursive;
}
